.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Container for each playlist row */
.playlist-list {
  list-style-type: none;
  padding: 0;
}

.playlist-item {
  margin-bottom: 10px;
  padding: 10px;
}

.playlist-row {
  background-color: #b9d4cf; 
  border-radius: 50px;      
  padding: 12px 40px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.playlist-row span {
  font-size: 25px;
  font-weight: bold;
}

.button-container {
  display: flex;
  gap: 10px;
}

button {
  background-color: #2F575D;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;   /* Round button corners */
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ec9e9e; /* Darker color on hover */
}

/* Optional: Add responsive design for mobile */
@media (max-width: 600px) {
  .playlist-row {
    flex-direction: column;
    align-items: center;
  }
  .button-container {
    margin-top: 10px;
  }
}


.login-button{
  background-color: #2F575D;
  font-family: 'Helvetica Neue', sans-serif;
  color: rgb(255, 255, 255);
  padding: 20px;
  cursor: pointer;
  border-radius: 40px;  
  border: none;
  margin-bottom: 0;
  font-size: 20px; 
  transition: background-color 0.3s;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  align-items: center; 
}

.login-button:hover {
  background-color: #ec9e9e;
}


@font-face {
  font-family: 'Londrina Outline';
  font-style: normal;
  font-weight: 400;
  src: local('Londrina Outline'), local('LondrinaOutline-Regular'), url(http://fonts.gstatic.com/s/londrinaoutline/v5/lls08GOa1eT74p072l1AWK3zAIRJwSgnq8SMHmx0gDM.ttf) format('truetype');
}

.tunetied-text {
  color: #ffffff;
  font-size: 180px;
  font-family: 'Londrina Outline', sans-serif;
  font-kerning: normal;
  margin: 0 0 0 0;

}

.welcome-text {
  color: #ffffff;
  font-size: 50px;
  font-family: 'oxygen', sans-serif;
  margin: 100px 0 0 0;

}

h1{
  margin: 20px 0 0 20px;
  text-align: center;
  font-size: 50px;

}

ul{
  font-family: arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
  font-kerning: none;
  line-height: 40px;
  
}

label{
  margin: 0 0 0 580px;
}

select{
  background-color: #cdd5d0;
  color: rgb(0, 0, 0);
  border: none;
  padding: 2px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 15px; 
  transition: background-color 0.3s;
  margin: 40px 0 0 10px;  
}

.casette-image {
  width: 400px;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 110px;
  

}

.guitar-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-left: 200px;
}

h2{
  margin-left: 20px;
}
